WebMVC/Connected Services/WFCProducto/ServicioProductos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioProductos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioProductos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOproducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOproducto" nillable="true" type="tns:DTOproducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOproducto" nillable="true" type="tns:ArrayOfDTOproducto" />
  <xs:complexType name="DTOproducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOproducto" nillable="true" type="tns:DTOproducto" />
</xs:schema>