WebMVC/Connected Services/WFCProducto/ServicioProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62601/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioProductos" />
  <xs:element name="TraerTodo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicioProductos" minOccurs="0" name="TraerTodoResult" nillable="true" type="q1:ArrayOfDTOproducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>