WebMVC/Connected Services/ServicioImportaciones/ServicioImportacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioImportaciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioImportaciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOImportacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rut" type="xs:long" />
      <xs:element minOccurs="0" name="SalidaPrevista" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOImportacion" nillable="true" type="tns:DTOImportacion" />
</xs:schema>